<p id="notice"><%= notice %></p>

<h3 class="booking">Ваши заказы</h3>


<div class="column">
  <ul class="movies-grid no-bullet row">
  <% Order.where(user_email: current_user.email).each do |orderi| %>
     <% LineItem.where(order_id: orderi.id).each do |line_item| %>
        <li class="large-3 medium-4 small-12 column">
          <div class="movie-card padly">
            <div class="movie-info ell glassy-bg padmy padlx">
              <div class="title">
                <h6><%= line_item.product_id %></h6>
              </div>
             
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<% end %>
